@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply
    w-full
    rounded-md
    border border-gray-300
    bg-white
    px-3 py-2
    text-sm
    text-gray-900
    placeholder:text-gray-400
    focus:border-emerald-500
    focus:outline-none
    focus:ring-0;
}
